.dashboard-page {
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.filter-select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.logout-btn {
  padding: 8px 15px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e60000;
}

.create-box,
.task-table-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

input,
select {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 10px 20px;
  background: #1a73e8;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background: #135fc2;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.task-table th,
.task-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.status-update-dropdown {
  padding: 6px;
}

.delete-btn {
  background: #ff3333;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #cc0000;
}
